.container {
    .manage-user-container {
        .user-header {

            .action {
                .refesh {
                    margin-right: 10px;
                }

                span {
                    padding-right: 7px;
                }
            }
        }

        .user-body {
            .edit {
                min-width: 70px;
            }

            .delete {
                min-width: 70px;
            }
        }
    }
}